<nav class="navbar navbar-light navbar-modern">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to fyp_index_path, class: "nav-link me-3" do %>
        <i class="bi bi-house"></i>
      <% end %>
      <%= link_to fyp_search_path, class: "nav-link" do %>
        <i class="bi bi-search"></i>
      <% end %>
      <%= link_to fyp_notifications_path, class: "nav-link" do %>
        <i class="bi bi-bell"></i>
      <% end %>
      <%= link_to fyp_profile_path, class: "nav-link" do %>
        <i class="bi bi-person"></i>
      <% end %>
    <% else %>
      <%= link_to home_login_path, class: "nav-link" do %>
        <i class="bi bi-person"></i>
      <% end %>
    <% end %>
    </div>
  </div>
</nav>

