<div id="<%= dom_id user %>">
  <div>
    <strong>User name:</strong>
    <%= user.user_name %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= user.age %>
  </div>

  <div>
    <strong>City:</strong>
    <%= user.city %>
  </div>

  <div>
    <strong>State:</strong>
    <%= user.state %>
  </div>

  <div>
    <strong>Bio:</strong>
    <%= user.bio %>
  </div>

</div>
